<%=link_to "Home", root_path %>
<%=link_to "Hip Facts", main_hipfacts_path%>

<p>DummyDummyDummyDummyDummyDummy</p>

<%= image_tag("cheetahs.jpg", :width=>500, :height=>300, :alt => "cheetah family") %>

<p><label>Which do you prefer?</label></p>
<select multiple class="form-control">
  <option>Cheetahs</option>
  <option>Elephants</option>
  <option>Pigs</option>
  <option>Cows</option>
  <option>Giraffes</option>
</select>