<%=link_to "Home", root_path %>
<%=link_to "About", main_about_path%>

<h1>Hip Facts About Our Company</h1>

<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Learn more about our work around the world
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Learn about how many jobs we helped to create
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
    Learn about our networks and partners
  </label>
</div>
<p>DummyDummyDummyDummyDummyDummy</p>