<h1>The Rails Experience</h1>
<%=link_to "About", main_about_path%>
<%=link_to "Hip Facts", main_hipfacts_path%>
<p>Learning cool new things like:
</p>
<ul>
	<li><a href="#">Rake</a></li>
	<li><a href="#">Controller</a></li>
	<li><a href="#">Gems</a></li>
</ul>
